<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ludwig Van Beethoven</title>
        <link rel="stylesheet" href="../Static/css/style.css">
    </head>
    <body>
        <h1>Ludwing Van Beethoven</h1> 
        <p>Uno de los grandes compositores de la historia de la música es Ludwig Van Beethoven (1770–1827). Fue un 
        compositor y pianista alemán, clave en la transición entre el clasicismo y el romanticismo en la música. 
        Beethoven es reconocido por su capacidad para innovar en la estructura y la expresión emocional de las 
        composiciones.</p>
          
        <figure>
            <img src="/static/Imgenes/licensed-image.jpg" alt="Imagen de Beethoven">
            <figcaption><a href="https://es.wikipedia.org/wiki/Ludwig_van_Beethoven" class="texto-con-borde">Biografia de Ludwig Van Beethoven (1770–1827)</a></figcaption>
        </figure>
        
        <h2>Algunas de sus obras más destacadas:</h2>
        <ol>
            <li><a href="https://www.youtube.com/watch?v=7rzn_nAF59I&t=8s">Sinfonía No. 9 en re menor, Op. 125 ("Coral"):</a> Su "Oda a la alegría" es mundialmente conocida y el 
            himno de la Unión Europea. Es una de las sinfonías más importantes de la historia.</li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=-VVXqNt4qU0&t=70s">Sinfonía No. 5 en do menor, Op. 67:</a> Su famoso motivo inicial "tan-tan-tan-taaan" es uno de los más 
            reconocibles en la música clásica.</li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=6XUKtdMRR-M">Sonata para piano No. 14 en do sostenido menor, Op. 27, No. 2:</a> Una de las piezas para piano más 
            interpretadas, especialmente su primer movimiento melancólico.</li>
            <br>
            <li><a href="https://www.youtube.com/watch?v=yTLOQGF-c1E">Concierto para piano No. 5 en mi bemol mayor, Op. 73:</a> Considerado uno de los mejores conciertos para 
            piano jamás escritos.</li>
        </ol>
            
        <h2>Características de su musica:</h2>
        <ul>
            <li>Beethoven rompió con muchas de las convenciones de su tiempo, incorporando formas más complejas y 
            una mayor expresividad emocional.</li>
            <li>Sus obras reflejan una lucha interior, especialmente a medida que fue perdiendo su audición en sus 
            últimos años.</li>
            <li>Su música pasó de ser clara y estructurada en el estilo clásico a ser más dinámica y con mayor 
            enfoque en la emocionalidad y la individualidad.</li>
        </ul>
          
        <h2>Influencias:</h2>
        <p>Beethoven influyó enormemente en compositores posteriores, como Brahms, Tchaikovsky y Wagner, y sigue siendo una de las figuras más estudiadas y celebradas en la historia de la música clásica.</p>    
        
        <video src="/static/video/video.mp4" controls></video>
        <br>
        <p class="titulo-video">Beethoven "Moonlight" Sonata, III "Presto Agitato" Valentina Lisitsa</p>
        
        
    </body>
</html>